* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
}

/* HEADER */
header {
    background: #131921;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

header input {
    width: 40%;
    padding: 8px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: orange;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #febd69, #f3a847);
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #131921;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* CATEGORIES */
.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.cat-card {
    background: white;
    padding: 20px 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.cat-card:hover {
    transform: scale(1.1);
}

/* PRODUCTS */
.section-title {
    padding: 20px 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
    padding: 40px;
}

.product-card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 15px;
    background: orange;
    border: none;
    cursor: pointer;
}

/* CART */
.cart {
    padding: 60px;
    text-align: center;
}

.cart-box {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

/* LOGIN */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-box input {
    padding: 8px;
}

.login-box button {
    padding: 10px;
    background: #131921;
    color: white;
    border: none;
    cursor: pointer;
}

/* RESPONSIVE */
@media(max-width:768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    header input {
        width: 100%;
    }

    .categories {
        flex-direction: column;
        align-items: center;
    }
}
