*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#111;
color:white;
}

/* NAVBAR */
.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 50px;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
color:#e50914;
font-size:28px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
transition:0.3s;
}

nav a:hover{
color:#e50914;
}

.signin{
background:#e50914;
border:none;
padding:8px 18px;
color:white;
cursor:pointer;
border-radius:4px;
}

/* HERO */
.hero{
height:100vh;
background:
linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.4)),
url("https://image.tmdb.org/t/p/original/x2LSRK2Cm7MZhjluni1msVJ3wDF.jpg") center/cover no-repeat;
display:flex;
align-items:center;
padding-left:60px;
}

.hero-content{
max-width:500px;
animation:fadeIn 2s ease;
}

.hero h1{
font-size:60px;
}

.hero p{
margin:20px 0;
}

.hero-buttons button{
padding:10px 20px;
margin-right:10px;
border:none;
cursor:pointer;
font-size:16px;
border-radius:4px;
}

.play{
background:white;
color:black;
}

.info{
background:rgba(109,109,110,0.7);
color:white;
}

/* ROW */
.row{
margin-top:40px;
padding:20px 50px;
}

.row h2{
margin-bottom:15px;
}

.row-posters{
display:flex;
overflow-x:scroll;
gap:15px;
}

.row-posters::-webkit-scrollbar{
display:none;
}

.row-posters img{
width:200px;
border-radius:5px;
transition:0.4s;
cursor:pointer;
}

.row-posters img:hover{
transform:scale(1.1);
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:black;
margin-top:40px;
}

/* ANIMATION */
@keyframes fadeIn{
from{opacity:0; transform:translateY(20px);}
to{opacity:1; transform:translateY(0);}
}

/* RESPONSIVE */
@media(max-width:768px){
.hero h1{
font-size:35px;
}

.navbar{
flex-direction:column;
gap:10px;
}

.hero{
padding-left:20px;
}
}
